<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>Splurty was built by Raj Sannidhi.</p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mypic.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Raj Sannidhi</h2>
      <br />
      <p>
        Raj Sannidhi is a freelance writer and editor in the New York City metropolitan area. He is also an Associate Editor for Podcastle, an award winning fantasy short fiction podcast in the Escape Artists podcast network.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />